.icon-home {
  @include sprite($icon-subway);
}
.icon-inliner {
  background-image: url("icon-subway.png");
  width: 16px;
  height: 16px;
}
.icon-svg-in-css {
  background: svg-load('../images/vk.svg');
  width: 34px;
  height: 34px;
}