+b.test
  +icon-svg('schedule-sub')

+b.test
  +icon-svg('vk')

+b.icon-home

+b.test-2 sdfdfsg
  +e.block-3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut corporis laborum dolorem labore, deleniti minima! Natus qui, nostrum amet quisquam ipsam placeat eaque perspiciatis impedit optio, quo nam consequatur eum!