//- Svg-sprite in Pug(html)
h2(style="padding: 5px 0")  Svg-sprite in Pug(html)

+b.test
  +icon-svg('schedule-sub')

+b.test
  +icon-svg('vk')
hr

//- Svg in css
h2(style="padding: 5px 0")  Svg in css

div.icon-svg-in-css
hr

//- PNG-sprite
h2(style="padding: 5px 0")  PNG-sprite
+b.icon-home

hr

//- PNG inline in css, max file size 5 bytes
h2(style="padding: 5px 0")  PNG inline in css
i(style="padding: 10px 0; display: inline-block") max file size 5 bytes
div.icon-inliner

hr

//- Pug testing 
h2(style="padding: 5px 0")  Pug testing 
+b.test-2 sdfdfsg
  +e.block-3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut corporis laborum dolorem labore, deleniti minima! Natus qui, nostrum amet quisquam ipsam placeat eaque perspiciatis impedit optio, quo nam consequatur eum!