+b.test-1 sdfdfsg
  +e.test-2 test2
  include ../../_partials/block/block.pug
  .hello Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nesciunt voluptate voluptatem molestiae aperiam sapiente, modi ratione facilis doloribus distinctio tenetur voluptates ipsa voluptatum accusantium qui porro quam libero eligendi.