// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-arr-b-black-thin-name: 's-arr-b-black-thin';
$s-arr-b-black-thin-x: 45px;
$s-arr-b-black-thin-y: 48px;
$s-arr-b-black-thin-offset-x: -45px;
$s-arr-b-black-thin-offset-y: -48px;
$s-arr-b-black-thin-width: 7px;
$s-arr-b-black-thin-height: 4px;
$s-arr-b-black-thin-total-width: 79px;
$s-arr-b-black-thin-total-height: 67px;
$s-arr-b-black-thin-image: '../images/sprite.png';
$s-arr-b-black-thin: (45px, 48px, -45px, -48px, 7px, 4px, 79px, 67px, '../images/sprite.png', 's-arr-b-black-thin', );
$s-arr-b-black-name: 's-arr-b-black';
$s-arr-b-black-x: 37px;
$s-arr-b-black-y: 21px;
$s-arr-b-black-offset-x: -37px;
$s-arr-b-black-offset-y: -21px;
$s-arr-b-black-width: 9px;
$s-arr-b-black-height: 6px;
$s-arr-b-black-total-width: 79px;
$s-arr-b-black-total-height: 67px;
$s-arr-b-black-image: '../images/sprite.png';
$s-arr-b-black: (37px, 21px, -37px, -21px, 9px, 6px, 79px, 67px, '../images/sprite.png', 's-arr-b-black', );
$s-arr-b-blue-name: 's-arr-b-blue';
$s-arr-b-blue-x: 12px;
$s-arr-b-blue-y: 60px;
$s-arr-b-blue-offset-x: -12px;
$s-arr-b-blue-offset-y: -60px;
$s-arr-b-blue-width: 7px;
$s-arr-b-blue-height: 7px;
$s-arr-b-blue-total-width: 79px;
$s-arr-b-blue-total-height: 67px;
$s-arr-b-blue-image: '../images/sprite.png';
$s-arr-b-blue: (12px, 60px, -12px, -60px, 7px, 7px, 79px, 67px, '../images/sprite.png', 's-arr-b-blue', );
$s-arr-l-black-sm-name: 's-arr-l-black-sm';
$s-arr-l-black-sm-x: 73px;
$s-arr-l-black-sm-y: 0px;
$s-arr-l-black-sm-offset-x: -73px;
$s-arr-l-black-sm-offset-y: 0px;
$s-arr-l-black-sm-width: 6px;
$s-arr-l-black-sm-height: 9px;
$s-arr-l-black-sm-total-width: 79px;
$s-arr-l-black-sm-total-height: 67px;
$s-arr-l-black-sm-image: '../images/sprite.png';
$s-arr-l-black-sm: (73px, 0px, -73px, 0px, 6px, 9px, 79px, 67px, '../images/sprite.png', 's-arr-l-black-sm', );
$s-arr-l-black-name: 's-arr-l-black';
$s-arr-l-black-x: 0px;
$s-arr-l-black-y: 37px;
$s-arr-l-black-offset-x: 0px;
$s-arr-l-black-offset-y: -37px;
$s-arr-l-black-width: 10px;
$s-arr-l-black-height: 18px;
$s-arr-l-black-total-width: 79px;
$s-arr-l-black-total-height: 67px;
$s-arr-l-black-image: '../images/sprite.png';
$s-arr-l-black: (0px, 37px, 0px, -37px, 10px, 18px, 79px, 67px, '../images/sprite.png', 's-arr-l-black', );
$s-arr-l-gray-name: 's-arr-l-gray';
$s-arr-l-gray-x: 30px;
$s-arr-l-gray-y: 37px;
$s-arr-l-gray-offset-x: -30px;
$s-arr-l-gray-offset-y: -37px;
$s-arr-l-gray-width: 10px;
$s-arr-l-gray-height: 15px;
$s-arr-l-gray-total-width: 79px;
$s-arr-l-gray-total-height: 67px;
$s-arr-l-gray-image: '../images/sprite.png';
$s-arr-l-gray: (30px, 37px, -30px, -37px, 10px, 15px, 79px, 67px, '../images/sprite.png', 's-arr-l-gray', );
$s-arr-r-black-sm-name: 's-arr-r-black-sm';
$s-arr-r-black-sm-x: 58px;
$s-arr-r-black-sm-y: 23px;
$s-arr-r-black-sm-offset-x: -58px;
$s-arr-r-black-sm-offset-y: -23px;
$s-arr-r-black-sm-width: 6px;
$s-arr-r-black-sm-height: 9px;
$s-arr-r-black-sm-total-width: 79px;
$s-arr-r-black-sm-total-height: 67px;
$s-arr-r-black-sm-image: '../images/sprite.png';
$s-arr-r-black-sm: (58px, 23px, -58px, -23px, 6px, 9px, 79px, 67px, '../images/sprite.png', 's-arr-r-black-sm', );
$s-arr-r-black-name: 's-arr-r-black';
$s-arr-r-black-x: 58px;
$s-arr-r-black-y: 0px;
$s-arr-r-black-offset-x: -58px;
$s-arr-r-black-offset-y: 0px;
$s-arr-r-black-width: 10px;
$s-arr-r-black-height: 18px;
$s-arr-r-black-total-width: 79px;
$s-arr-r-black-total-height: 67px;
$s-arr-r-black-image: '../images/sprite.png';
$s-arr-r-black: (58px, 0px, -58px, 0px, 10px, 18px, 79px, 67px, '../images/sprite.png', 's-arr-r-black', );
$s-arr-r-blue-name: 's-arr-r-blue';
$s-arr-r-blue-x: 0px;
$s-arr-r-blue-y: 60px;
$s-arr-r-blue-offset-x: 0px;
$s-arr-r-blue-offset-y: -60px;
$s-arr-r-blue-width: 7px;
$s-arr-r-blue-height: 7px;
$s-arr-r-blue-total-width: 79px;
$s-arr-r-blue-total-height: 67px;
$s-arr-r-blue-image: '../images/sprite.png';
$s-arr-r-blue: (0px, 60px, 0px, -60px, 7px, 7px, 79px, 67px, '../images/sprite.png', 's-arr-r-blue', );
$s-arr-r-gray-name: 's-arr-r-gray';
$s-arr-r-gray-x: 15px;
$s-arr-r-gray-y: 37px;
$s-arr-r-gray-offset-x: -15px;
$s-arr-r-gray-offset-y: -37px;
$s-arr-r-gray-width: 10px;
$s-arr-r-gray-height: 15px;
$s-arr-r-gray-total-width: 79px;
$s-arr-r-gray-total-height: 67px;
$s-arr-r-gray-image: '../images/sprite.png';
$s-arr-r-gray: (15px, 37px, -15px, -37px, 10px, 15px, 79px, 67px, '../images/sprite.png', 's-arr-r-gray', );
$s-arr-t-black-thin-name: 's-arr-t-black-thin';
$s-arr-t-black-thin-x: 59px;
$s-arr-t-black-thin-y: 37px;
$s-arr-t-black-thin-offset-x: -59px;
$s-arr-t-black-thin-offset-y: -37px;
$s-arr-t-black-thin-width: 7px;
$s-arr-t-black-thin-height: 4px;
$s-arr-t-black-thin-total-width: 79px;
$s-arr-t-black-thin-total-height: 67px;
$s-arr-t-black-thin-image: '../images/sprite.png';
$s-arr-t-black-thin: (59px, 37px, -59px, -37px, 7px, 4px, 79px, 67px, '../images/sprite.png', 's-arr-t-black-thin', );
$s-arr-t-black-name: 's-arr-t-black';
$s-arr-t-black-x: 45px;
$s-arr-t-black-y: 37px;
$s-arr-t-black-offset-x: -45px;
$s-arr-t-black-offset-y: -37px;
$s-arr-t-black-width: 9px;
$s-arr-t-black-height: 6px;
$s-arr-t-black-total-width: 79px;
$s-arr-t-black-total-height: 67px;
$s-arr-t-black-image: '../images/sprite.png';
$s-arr-t-black: (45px, 37px, -45px, -37px, 9px, 6px, 79px, 67px, '../images/sprite.png', 's-arr-t-black', );
$s-certificated-name: 's-certificated';
$s-certificated-x: 0px;
$s-certificated-y: 0px;
$s-certificated-offset-x: 0px;
$s-certificated-offset-y: 0px;
$s-certificated-width: 32px;
$s-certificated-height: 32px;
$s-certificated-total-width: 79px;
$s-certificated-total-height: 67px;
$s-certificated-image: '../images/sprite.png';
$s-certificated: (0px, 0px, 0px, 0px, 32px, 32px, 79px, 67px, '../images/sprite.png', 's-certificated', );
$s-clear-filter-name: 's-clear-filter';
$s-clear-filter-x: 24px;
$s-clear-filter-y: 60px;
$s-clear-filter-offset-x: -24px;
$s-clear-filter-offset-y: -60px;
$s-clear-filter-width: 7px;
$s-clear-filter-height: 7px;
$s-clear-filter-total-width: 79px;
$s-clear-filter-total-height: 67px;
$s-clear-filter-image: '../images/sprite.png';
$s-clear-filter: (24px, 60px, -24px, -60px, 7px, 7px, 79px, 67px, '../images/sprite.png', 's-clear-filter', );
$s-icon-subway-name: 's-icon-subway';
$s-icon-subway-x: 37px;
$s-icon-subway-y: 0px;
$s-icon-subway-offset-x: -37px;
$s-icon-subway-offset-y: 0px;
$s-icon-subway-width: 16px;
$s-icon-subway-height: 16px;
$s-icon-subway-total-width: 79px;
$s-icon-subway-total-height: 67px;
$s-icon-subway-image: '../images/sprite.png';
$s-icon-subway: (37px, 0px, -37px, 0px, 16px, 16px, 79px, 67px, '../images/sprite.png', 's-icon-subway', );
$spritesheet-width: 79px;
$spritesheet-height: 67px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($s-arr-b-black-thin, $s-arr-b-black, $s-arr-b-blue, $s-arr-l-black-sm, $s-arr-l-black, $s-arr-l-gray, $s-arr-r-black-sm, $s-arr-r-black, $s-arr-r-blue, $s-arr-r-gray, $s-arr-t-black-thin, $s-arr-t-black, $s-certificated, $s-clear-filter, $s-icon-subway, );
$spritesheet: (79px, 67px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
