// ----------------------------------------------
// Automatic generation, do not write scss
// -------------------------------------------
.svg-icon {
  display: inline-block;
  // fill: currentColor;
}

{{#shapes}}
.svg-icon-{{base}} {
  height: {{height.inner}}px;
  width: {{width.inner}}px;
}
{{/shapes}}