// ----------------------------------------------
// Automatic generation, do not write scss
// -------------------------------------------
.svg-icon {
  display: inline-block;
  // fill: currentColor;
}

.svg-icon-schedule-sub {
  height: 15px;
  width: 15px;
}
.svg-icon-vk {
  height: 34px;
  width: 34px;
}
